

h3{
  background: #AD6C80;
}

a{
  text-decoration: none;
}
.box-1{
  width: 900px;
  height: 180px;
  background-image: url("https://pbs.twimg.com/media/FFHwxWuacAIt6uW?format=jpg&name=4096x4096");
  background-size: cover;
}

/* Three image containers (use 25% for four, and 50% for two, etc) */
.column {
    float: left;
    width: 10%;
    padding: 3px;
  }
  
  /* Clear floats after image containers */
  .row::after {
    content: "";
    clear: both;
    display: table;
  }
